<div class="container-forms" style="width: 500px;">

  <button mat-button (click)="closeWindowCreate()"  mat-dialog-close style="float: right; padding-left: 30px;">
    <mat-icon style="color: white;">close</mat-icon>
  </button>

  <div mat-dialog-title> <h2 style="color: white; text-align: center;">Formulario de cadastro de alunos</h2></div>

  <div mat-dialog-content>

     <!-- Name Column -->
    <mat-form-field>
      <input matInput [(ngModel)]="data.name" type="text" placeholder="Insira o nome do aluno" style="color: white">
    </mat-form-field>
    <br>

     <!-- Cpf Column -->
    <mat-form-field>
      <input matInput [(ngModel)]="data.cpf" type="text" placeholder="Insira o cpf do aluno" style="color: white">
    </mat-form-field>
    <br>

     <!-- Birthday Column -->
    <mat-form-field>
      <input matInput [matDatepicker]="picker" [(ngModel)]="data.birthday" placeholder="Escolha a data" style="color: white">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <br>

     <!-- Email Column -->
    <mat-form-field>
      <input matInput [(ngModel)]="data.email" type="text" placeholder="Insira o email do aluno" style="color: white">
    </mat-form-field>
    <br>

     <!-- Phone Column -->
    <mat-form-field>
      <input matInput [(ngModel)]="data.phone" type="text" placeholder="Insira o telefone do aluno" style="color: white">
    </mat-form-field>
  </div>

  <div mat-dialog-actions align="end">
    <button (click)="createStudent(data)" (keydown.enter)="createStudent(data)" mat-flat-button [mat-dialog-close]="data">Enviar</button>
  </div>
</div>
